* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- Utility Class --- */
.section {
  max-width: 800px;
  margin: 0 auto;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
